.articleText{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@supports not (display: grid) {
  .articleText div {
    columns: 3 5em;
  }
}

@supports (display: grid) {
  .articleText {
    display: grid;
    grid-template-columns: 1fr;
  }

  .articleText div {
    border: 1px solid #000;
    padding: 0 30px;
  }

  .articleText p {
    margin: 20px 0 0;
  }

  @media only print {
    .articleText {
      font-size: 300px;
    }
  }

  @media screen and (min-width: 550px) {
    .articleText {
      grid-template-columns: 1fr 1fr;
    }
    .articleText div {
      padding: 20px;
    }
  }

  @media (min-width: 900px) {
    .articleText {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
