.container {
  list-style: none;
  padding: 10px;
  margin: 30px;
  border-radius: 30px;
  box-shadow: 5px 20px 20px rgb(120, 120, 120);
  background: #999;
  border: 2px dashed #666;
  display: grid;
  gap:20px;
  grid-template-columns: 1fr 1fr 1fr;
}


